@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Manrope", sans-serif;
  background-color: var(--dark-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color variables */
  --dark-blue: #202733;
  --dark-greyish-blue: #313a48;
  --greyish-blue: #4f5d74;
  --light-cyan: #cee3e9;
  --neon-green: #53ffaa;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
